testKim/.settings/org.eclipse.core.resources.prefs
testKim/.settings/org.eclipse.jdt.core.prefs
testKim/.settings/org.eclipse.m2e.core.prefs
testKim/.classpath
testKim/.project
testKim/.springBeans
testKim/.settings/org.eclipse.wst.common.component
testKim/.settings/org.eclipse.wst.common.project.facet.core.xml
testKim/.settings/org.eclipse.wst.validation.prefs
testKim/.settings/org.springframework.ide.eclipse.beans.core.prefs
testKim/.settings/org.springframework.ide.eclipse.core.prefs
testKim/target/classes/log4j.xml
testKim/target/classes/com/yoon/springtest/HomeController.class
testKim/target/classes/com/yoon/springtest/board/BoardController.class
testKim/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
testKim/target/m2e-wtp/web-resources/META-INF/maven/com.yoon/springtest/pom.properties
testKim/target/m2e-wtp/web-resources/META-INF/maven/com.yoon/springtest/pom.xml
testKim/target/test-classes/log4j.xml
